body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
}

header {
    background-color: #22313f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header nav {
    background-color: rgb(34, 32, 32);
    width: 100%;
}

header span {
    padding: 1rem;
}

.navbar {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.navbar a:hover {
    color: #8dc6ff;
}

.navbar a {
    padding: 1rem;
    border: 2px solid #22313f;
    text-align: center;
    margin: 0.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    padding: 1rem;
}

main h1 {
    grid-column: span 2;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    border: 1px solid black;
    border-radius: 1rem;
    gap: 1rem;
}

.card h2 {
    grid-column: span 2;
    text-align: center;
    background-color: #22313f;
    color: white;
    padding: 0.5rem;
    border: 1px solid black;
    margin-top: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card h3 {
    grid-column: span 2;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.card p, .card ul {
    margin: 0 1rem;
    text-align: justify;
}

.card ul {
    grid-column: span 2;
}

img {
    margin: 0 auto;
    max-width: 50%;
    border: 2px solid black;
}

.flag {
    max-width: 100%;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #22313f;
    color: white;
    text-align: center;
    padding: 1rem;
}

#lastModified {
    color: #8dc6ff;
}

@media (max-width: 480px) {
    main {
        display: block;
    }
    
    body {
        font-size: 14px;
    }

    header, footer, nav {
        justify-content: center;
        align-items: center;
    }
    
    nav a {
        display: block;
        margin: 5px 0;
    }
    
    .navbar {
        flex-direction: column;
        margin: 5px 0;
        
    }
}