body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    color: white;
    background-color: #4E0110;
}


#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "⨉";
}


nav {
    display: flex;
    flex-direction: column;
}

.navbar-temple {

    gap: 1rem;
    align-items: center;
    list-style: none;
}

.navbar-temple a {
    display: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 0.3rem;


}

.navbar-temple a.active {
    background-color: #4E0110;

}

.navbar-temple a:hover {
    border: 2px solid white;

}

.open a {
    display: block;
    padding-top: 1rem;

}

#title-temple {
    font-size: xx-large;
}

h1 {
    text-align: center;
}

figure {
    text-align: center;
    padding-bottom: 0.5rem;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80%;
    margin: 0 auto;
}

main figure:hover {
    box-shadow: 0 0 50px #333;

}

main img {
    max-width: 100%;
    height: 100%;
}

footer {
    justify-items: center;
}